.intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 20px;
  background-color:rgba(200,200,200,0.8);
  color: white;
  text-align: center;

}

.intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  color: white;
  background-color:rgba(200,200,200,0.8);
  text-align: center;

}

.landing-page-icon-wrapper .fa{
  color: pink;
  margin:0 15px;
}
.landing-page-icon-wrapper .fa:hover{
  color: #db7093;
  /* margin:5px 15px; */
}

.landing-page-icon-wrapper{
  text-align: center;
  padding-top:2%;
}
.navBuffer {
  height:5em;
}
